body{
    background-color: rgb(88, 88, 88);
}

.page{
    background-color: rgb(173, 173, 245);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    border-radius: 8px;
}
.title{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0px 0px 10px 0px;
    background-color: orange;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
    padding: 8px 50px 8px 50px;
}
.subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    gap: 30px;
    margin: 20px;
}
.pokemon-section{
    margin: 15px;
    padding: 10px;
    background-color: rgb(191, 193, 109);
    border-radius: 6px;
}
.pokemons-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px 0px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.pokemon-img-card{
    width: 150px;
    height: 150px;
}
.details{
    background-color: rgb(191, 193, 109) ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-items:center;
    text-align: center;
    gap: 10px;   
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}
.detail-title{
    font-weight: bold;
}
.types {
    display: flex;
    margin: 10px;
    gap: 8px;
}
.type-badge {
    padding: 4px 10px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.type-badge.grass {
    background-color: #78C850;
}
.type-badge.fire {
    background-color: #F08030;
}
.type-badge.water {
    background-color: #6890F0;
}
.type-badge.poison {
    background-color: #A040A0;
}
.type-badge.electric {
    background-color: #F8D030;
    color: black;
}
.type-badge.flying {
    background-color: #A890F0;
}
.type-badge.bug {
    background-color: #A8B820;
}
.type-badge.normal {
    background-color: #A8A878;
}
.type-badge.ground {
    background-color: #E0C068;
    color: black;
}
.type-badge.fairy {
    background-color: #F4BDC9;
    color: black;
}
.type-badge.fighting {
    background-color: #e86f6f;
    color: black;
}
.type-badge.rock {
    background-color: #8d8585;
    color: black;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
    gap: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.change{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.error{
    font-weight: bold;
    color: rgb(189, 20, 20)
}
.success{
    font-weight: bold;
    color: green;
}
button{
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
    background-color:#6890F0;
}
button:hover{
 cursor: pointer;
}
.button-link{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}









